<div class="Dashboard">
	<div class="Dashboard-header">
		<div class="title">
			Primary Data
		</div>
		<div class="right-btns">
			<div class="btn">{{{i "ico-objectives" "small"}}}History</div>
		</div>
	</div>
	<div class="Dashboard-content">
		<div class="table">
			<div class="table-header">
				<div class="row">
					<div class="cell feature">Feature <a class="edit">edit</a></div>
					<div class="cell requirement">Requirement</div>
					<div class="cell funcitonal">Functional-Design</div>
					<div class="cell visual">Visual-Design</div>
					<div class="cell spec">Spec</div>
					<div class="cell api">API</div>
					<div class="cell impl">
						<span>Impl</span>
						<a class="edit">edit</a>
					</div>
				</div>
			</div>
			<div class="table-content">
				<div class="rows-con">
					<div class="row">
						<div class="cell feature">Login</div>
						<div class="cell requirement">
							<div class="progress-bar done">
								<div class="bar"></div>
								<div class="txt">90%</div>
							</div>
						</div>
						<div class="cell funcitonal">
							<div class="progress-bar">
								<div class="bar"></div>
								<div class="txt">0%</div>
							</div>
						</div>
						<div class="cell visual"></div>
						<div class="cell spec"></div>
						<div class="cell api"></div>
						<div class="cell impl">
						</div>
					</div>
					<div class="row">
						<div class="cell feature"><span class="secondary">username / password</span></div>
						<div class="cell requirement">
							<div class="empty-edit-cell">
								edit
							</div>
						</div>
						<div class="cell funcitonal">
							<div class="empty-edit-cell">
								edit
							</div>
						</div>
						<div class="cell visual"></div>
						<div class="cell spec"></div>
						<div class="cell api"></div>
						<div class="cell impl">
						</div>
					</div>
					<div class="row">
						<div class="cell feature"><span class="secondary">Google</span></div>
						<div class="cell requirement"></div>
						<div class="cell funcitonal"></div>
						<div class="cell visual"></div>
						<div class="cell spec"></div>
						<div class="cell api"></div>
						<div class="cell impl">
						</div>
					</div>
					<div class="row">
						<div class="cell feature"><span class="secondary">LinkedIn</span></div>
						<div class="cell requirement"></div>
						<div class="cell funcitonal"></div>
						<div class="cell visual"></div>
						<div class="cell spec"></div>
						<div class="cell api"></div>
						<div class="cell impl">
						</div>
					</div>
					<div class="row">
						<div class="cell feature">Home</div>
						<div class="cell requirement"></div>
						<div class="cell funcitonal"></div>
						<div class="cell visual"></div>
						<div class="cell spec"></div>
						<div class="cell api"></div>
						<div class="cell impl">
						</div>
					</div>
					<div class="row">
						<div class="cell feature"><span class="secondary">username / password</span></div>
						<div class="cell requirement"></div>
						<div class="cell funcitonal"></div>
						<div class="cell visual"></div>
						<div class="cell spec"></div>
						<div class="cell api"></div>
						<div class="cell impl">
						</div>
					</div>
					<div class="row">
						<div class="cell feature"><span class="secondary">Google</span></div>
						<div class="cell requirement"></div>
						<div class="cell funcitonal"></div>
						<div class="cell visual"></div>
						<div class="cell spec"></div>
						<div class="cell api"></div>
						<div class="cell impl">
						</div>
					</div>
					<div class="row">
						<div class="cell feature"><span class="secondary">LinkedIn</span></div>
						<div class="cell requirement"></div>
						<div class="cell funcitonal"></div>
						<div class="cell visual"></div>
						<div class="cell spec"></div>
						<div class="cell api"></div>
						<div class="cell impl">
						</div>
					</div>
				</div>
				<div class="row row-add">
					<div class="cell">{{{i "ico-hamburger" "small"}}}<input placeholder="Enter new top feature name" /></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>