<script type="text/html" id="Dashboard">
<div class="Dashboard">
	<div class="Dashboard-header">
		<div class="title">
			Primary Data
		</div>
		<div class="right-btns">
			<div class="btn">{{{i "ico-objectives" "small"}}}History</div>
		</div>
	</div>
	<div class="Dashboard-content">
		<div class="table">
			<div class="table-header">
				<div class="row">
					<div class="cell drag-col"></div>
					<div class="cell feature">Feature <a class="edit">edit</a></div>
					<div class="cell requirement">Requirement</div>
					<div class="cell funcitonal">Functional-Design</div>
					<div class="cell visual">Visual-Design</div>
					<div class="cell spec">Spec</div>
					<div class="cell api">API</div>
					<div class="cell impl">
						<span>Impl</span>
						<a class="edit">edit</a>
					</div>
				</div>
			</div>
			<div class="table-content">
				<div class="rows-con">
					
				</div>
				<div class="row row-add">
					<div class="cell">{{{i "ico-hamburger" "small"}}}<input class="new-feature" placeholder="Enter new top feature name" /></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</script>

<script type="text/html" id="Dashboard-table-row-item">
	<div class="row {{#if parentId}}secondary{{/if}}" data-entity="Feature" data-entity-id="{{id}}" data-parent-id="{{parentId}}">
		<div class="cell drag-col">
			{{{i "ico-hamburger" "small"}}}
		</div>
		<div class="cell feature" data-editable data-prop="Feature.name">
			<span class="name">{{name}}</span>
		</div>
		<div class="cell requirement">
			<div class="progress-bar {{#check totalRequirementProgress '===' 100}}done{{/check}}">
				<div class="bar"></div>
				<div class="txt">{{totalRequirementProgress}}%</div>
			</div>
		</div>
		<div class="cell funcitonal">
			<div class="progress-bar {{#check totalFunctionalProgress '===' 100}}done{{/check}}">
				<div class="bar"></div>
				<div class="txt">{{totalFunctionalProgress}}%</div>
			</div>
		</div>
		<div class="cell visual">
			{{#if edit}}
				<div class="empty-edit-cell">
					edit
				</div>
			{{/if}}
		</div>
		<div class="cell spec"></div>
		<div class="cell api"></div>
		<div class="cell impl">
		</div>
	</div>
</script>