<div class="MainView">
	<header class="main-header">
		<span class="logo"></span>
		<div class="nav"></div>
		<span class="user">Mike Donavan</span>
	</header>
	<section class="main-content">		
	</section>
</div>